{% extends 'base.html.twig' %}

{% block title %}Preuves Dossier index{% endblock %}

{% block body %}
<style>
.back{
            color:#aa80ff;
        }
         .back:hover{
            color:#884dff;
            text-decoration:underline;
            background-color:#eee6ff;

        }
</style>
    <h1>Preuves Dossier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preuves</th>
                <th>Dossier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preuvesDossier in preuvesDossiers %}
            <tr>
                <td>{{ preuvesDossier.id }}</td>
                <td>{{ preuvesDossier.preuves }}</td>
                <td>{{ preuvesDossier.dossier.titre }}</td>
                <td>
                    <a class="back" href="{{ path('app_preuves_dossier_show', {'id': preuvesDossier.id}) }}">show</a>
                    <a class="back" href="{{ path('app_preuves_dossier_edit', {'id': preuvesDossier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="back" href="{{ path('app_preuves_dossier_new') }}">Create new</a>
{% endblock %}
